<div class="page-content">
  <h1>What is an Observer?</h1>
  <h3>An Observer consumes the values that an Observable produces.</h3>
  <h3>An Observer is a set of 3 callbacks, one for each type of notification that an Observable can produce.</h3>
  <p>Example:</p>

  <div class="code-example" highlight-js-content=".highlight">
    <pre>
      <code class="typescript highlight">
this.trades.getTrades()
  // Emits a value after 10 secs, subscription completes.
  .takeUntil(Observable.timer(10000))
  .subscribe(
    // 3 different callbacks for the different values the Observable can deliver.
    data => 
      this.observerData.unshift(`${{ '{' }}data[0].price{{ '}' }}} 
      I am the most recent ${{ '{' }}data[0].side === 'buy' ? 'BUY' : 'SELL'{{ '}' }} price of ETH/USD`),
    err => this.observerData.unshift('error occurred!'),
    () => this.observerData.unshift('complete after 10 secs!')
  );
      </code>
    </pre>

    <div class="code-result async-example">
      <span *ngFor="let item of observerData">{{item}} <br> </span>
    </div>
  </div>
</div>