<div class="page-content">

  <h1>What is Reactive programming / RxJS?</h1>
  <h3>'<i>Reactive programming is programming with asynchronous data streams.</i>' - Andre Staltz</h3>
  <h3>'<i>Think of RxJS as Lodash for events.</i>' - reactivex.io</h3>
  <h3>Data streams can be created out of anything: variables, user inputs, properties, data structures, etc.</h3>

  <div class="intro-example">
    <p>
      <strong>Example:</strong>
    </p>
    <div class="code-example" highlight-js-content=".highlight">
      <pre>
        <code class="typescript highlight">
  exampleObservableFromArray(): Observable&lt;string[]&gt; {{ '{' }}
    return Observable.of(['hello', 'we', 'are', 'a', 'stream']);
  {{ '}' }}

  this.exampleObservableFromArray()
    .subscribe(data => this.fromArray = data);
        </code>
      </pre>
      <p>
        <strong>Result from subscribing on page initialization:</strong>
      </p>
      <div class="code-result">
        <span *ngFor="let item of fromArray">{{item}}
          <br>
        </span>
      </div>
    </div>
  </div>
  <h1>Why use Reactive programming / observables?</h1>
  <h3>reactivex.io: The ReactiveX Observable model allows you to treat streams of asynchronous events with the same sort of simple,
    composable operations that you use for collections of data items like arrays. It frees you from tangled webs of callbacks,
    and thereby makes your code more readable and less prone to bugs.</h3>
  <h4>These composable operations are called operators, that are used to transform data streams.</h4>
  <p>
    <strong>Example:</strong>
  </p>
  <div class="code-example" highlight-js-content=".highlight">
    <pre>
        <code class="typescript highlight">
  // endExample$ initialization:
  endExample$: Subject&lt;any&gt; = new Subject();

  exampleObservableFromArray(): Observable&lt;string[]&gt; {{ '{' }}
    return Observable.of(['hello', 'we', 'are', 'a', 'stream', '!']);
  {{ '}' }}

  anotherExampleFromArray(): Observable&lt;string[]&gt; {{ '{' }}
    return Observable.of(['other', 'stuff', 'from', 'another', 'array', ' ']);
  {{ '}' }}

  // This one never stops unless unsubscribed!
  exampleWithSomeNumbers(): Observable&lt;number&gt; {{ '{' }}
    return Observable.interval(1000);
  {{ '}' }}


  const merged =
    this.exampleObservableFromArray()
      .merge(this.exampleWithSomeNumbers())
      .merge(this.anotherExampleFromArray());
  // The arrays are pushed immediately (synchronously)
  // the numbers start incrementing after 1 second
  merged
    .takeUntil(this.endExample$)
    .subscribe(mergeData => {{ '{' }}
      this.mergedResult.unshift(mergeData);
  {{ '}' }});
        </code>
    </pre>
    <p>
      <code>merge</code> is an operator turns multiple observables into a single observable.
    </p>
    <p>
      <code>takeUntil()</code> is an operator that is used to emit values until its provided observable emits a value.
    </p>
    <p>Button press makes the provided observable,
      <code>this.endExample$</code>, emit a value which makes the numbers stop incrementing.
    </p>
    <p>
      <code>this.endExample$</code> is a <code>Subject</code>, which is a special type of <code>Observable</code> which can be subscribed to, and can be fed new values to emit.
    </p>
    <button class="unsub-button" type="button" (click)="unsub()">Unsubscribe</button>
    <p>Result from subscribing to the merged stream on page initialization:</p>
    <div class="code-result">
      <span *ngFor="let item of mergedResult">{{item}}
        <br>
      </span>
    </div>
  </div>

</div>
