md-icon {
  font-family: 'Material Icons' !important;
}

mat-toolbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mat-toolbar {
  background: linear-gradient(135deg, #00d6ae 0%,#02eabc 51%,#00f9c7 100%);
}

.mat-button {
  border: none;
  padding: 0.5rem 2rem;
}

.mat-button:focus {
  outline: 0;
}

mat-icon {
  color: white;
}

.mat-icon {
  height: 36px !important;
  width: 36px !important;
}

.material-icons {
  font-size: 36px;
}

mat-sidenav {
  width: 200px;
  padding-left: 10px;
}

mat-sidenav a {
  text-decoration: none;
}

mat-sidenav ul {
  list-style: none;
}

.header-text {
  color: white;
}
