<mat-toolbar>
  <button class="mat-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header-text">RxJS 101</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mat-drawer mode="side" opened="false">
    <nav>
      <h3>
        <a routerLink="/">Intro</a>
      </h3>
      <h3>Terminology</h3>
      <ul>
        <li>
          <a routerLink="observable">Observable</a>
        </li>
        <li>
          <a routerLink="observer">Observer</a>
        </li>
        <li>
          <a routerLink="subject">Subject</a>
        </li>
        <li>
          <a class="subject-child" routerLink="behaviorsubject">BehaviorSubject</a>
        </li>
        <li>
          <a class="subject-child" routerLink="replaysubject">ReplaySubject</a>
        </li>
        <li>
          <a class="subject-child" routerLink="asyncsubject">AsyncSubject</a>
        </li>
        <li>
          <a routerLink="scheduler">Schedulers</a>
        </li>
      </ul>
      <h3>Operators</h3>
      <ul>
        <li>
          <a routerLink="combinelatest">combineLatest</a>
        </li>
      </ul>
      <h3>
        <a routerLink="sources">Sources</a>
      </h3>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
