<mat-toolbar>
  <button class="mat-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>RxJS visualizer</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mat-drawer mode="side" opened="true">
    <nav>
      <h3>
        <a routerLink="/">Intro</a>
      </h3>
      <h3>Terminology</h3>
      <ul>
        <li>
          <a routerLink="stream">Streams</a>
        </li>
        <li>
          <a routerLink="subject">Subjects</a>
        </li>
      </ul>
      <h3>Operators</h3>
      <ul>
        <li>
          <a routerLink="combinelatest">combineLatest</a>
        </li>
      </ul>
      <h3>
        <a routerLink="sources">Sources</a>
      </h3>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
