<div class="observable-content">
  <h1>What is an Observable?</h1>
  <h3>A producer of multiple values, that pushes the values to the Observers.</h3>
  <h3>Observables are able to deliver values either synchronously or asynchronously.</h3>
  <h3>The important thing to realize is that Observables can return multiple values over time, whereas Promises return only one.</h3>
  <p>Example:</p>

  <button type="button" (click)="unsub()">Unsubscribe</button>

  <div class="code-example">
    <pre>
      <code class="javascript">
  private exampleObservable(): Observable &lt;any&gt; {{ '{' }}
      return Observable.create((observer: Observer &lt;any&gt;) => {{ '{' }}
        observer.next('Hello, I am pushed syncronously with observer.next().');
        observer.next('Hello again, I am also pushed syncronously');
        this.trades.getTrades()
          .throttleTime(1000)
          .subscribe(data => {{ '{' }}
          observer.next(`${{ '{' }} data[0].price {{ '}' }} 
            I am the most recent $ {{ '{' }} data[0].side === 'buy' ? 'buy' : 'sell' {{ '}' }} 
            price of ETH/USD, I am async.`);
        {{ '}' }});
      {{ '}' }});
    {{ '}' }}

  // Called when page initializes:
  this.exampleObservable()
    .takeUntil(this.endExample$)
    .subscribe(
      data => {{ '{' }}
        this.exampleOne.unshift(data);
        if (this.exampleOne.length === 10) {{ '{' }}
          this.exampleOne.pop();
      {{ '}' }}
    {{ '}' }});
      </code>
    </pre>

    <div class="code-result">
        <span *ngFor="let item of exampleOne">{{item}}
          <br>
        </span>
      </div>
  </div>

</div>
