<div class="sources">
  <h2>All trade data from <a target="_blank" href="https://docs.gdax.com/">GDAX</a></h2>
  <p>ETH (Ether) is a cryptocurrency used as a form of payment in the distributed application platform <a target="_blank" href="https://www.ethereum.org/">Ethereum.</a></p>
  <h2>Sources</h2>
  <p>
    <a target="_blank" href="https://gist.github.com/staltz/868e7e9bc2a7b8c1f754">Andre Staltz: The introduction to Reactive Programming you've been missing</a>
  </p>
  <p>
    <a target="_blank" href="https://www.learnrxjs.io">learnrxjs.io</a>
  </p>
  <p>
    <a target="_blank" href="http://reactivex.io/rxjs/">reactivex.io</a>
  </p>
  <p>
    <a target="_blank" href="https://github.com/tc39/proposal-observable">ECMAScript Observable proposal</a>
  </p>
  <p>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Stream_(computing)">Wikipedia: Stream (computing)</a>
  </p>
  <p>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Observer_pattern">Wikipedia: Observer pattern</a>
  </p>
  <p>
    <a target="_blank" href="https://medium.com/@benlesh/rxjs-dont-unsubscribe-6753ed4fda87">Ben Lesh: Don't unsubscribe</a>
  </p>
  <h2>Repo of this page</h2>
  <p><a target="_blank" href="https://github.com/jsur/rxjs-page">Here</a></p>
</div>
