<div class="page-content">
  <h1>What is a Subject?</h1>
  <h3>A Subject is a special type of Observable that allows its delivered values to be multicasted (given) to many Observers.</h3>
  <h3>Subjects maintain a registry (a list) of their Observers.</h3>
  <h3>From the Observer's viewpoint, it does not matter if the received values come from an Observable or a Subject.</h3>
  <p>Example:</p>
  <div class="code-example__many">
      <div class="code-example__half" highlight-js-content=".highlight">
          <pre>
            <code class="typescript highlight">
      
            </code>
          </pre>
      
          <div class="code-result">
      
          </div>
        </div>
        <div class="code-example__half" highlight-js-content=".highlight">
            <pre>
              <code class="typescript highlight">
        
              </code>
            </pre>
        
            <div class="code-result">
        
            </div>
          </div>
  </div>
</div>
