@import "~@angular/material/prebuilt-themes/indigo-pink.css";


button {
  border: none;
  background: linear-gradient(135deg, #00fcce 22%,#64fce0 59%,#a7f9ea 100%);
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
}

button:focus {
  outline: 0;
}

.code-example {
  margin: 0 auto;
  max-width: 70%;
  text-align: left;
}

.code-result {
  background-color: black;
  color: white;
  font-family: 'Courier';
  padding: 2rem;
}